/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/dist
.swc
/.history
/electron/utils/public
/tmp
electron/mail/setting.yaml
electron/screenshot/config.yaml
electron/iconicIiteracy/upload
electron/singleThread_js/images
public
/src/assets/custom-backgrounds
/src/assets/bg.png
/yarn-error.log
