.fileUploadContent {
  border: 1px dashed #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  font-size: 30px;
  margin-bottom: 12px;
  background: #333;
}
.container {
  position: relative;
  margin: 12px 0;
}
.container .clearImg {
  position: absolute;
  right: 8px;
  top: 0px;
  font-size: 30px;
  cursor: pointer;
}
.pngToSvgBox {
  background: pink;
  width: 600px;
  aspect-ratio: 4/3;
  padding: 12px;
}
