/**
 * @file 代码树工具样式
 * @description 自定义样式定义
 */

.tree-node-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .node-title {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }

    .node-actions {
        opacity: 0;
        transition: opacity 0.2s;
    }
}

.tree-node-content:hover .node-actions {
    opacity: 1;
}


.card-title-preview {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.code-tree {
    &-container {
        height: 100vh;
        background: #fff;
    }

    &-panel {
        .ant-card {
            height: 100%;
            display: flex;
            flex-direction: column;

            .ant-card-body {
                flex: 1;
                overflow: auto;
                padding: 12px;
            }
        }

        .ant-tree {
            .ant-tree-node-content-wrapper {
                flex: 1;
                display: flex;
                align-items: center;
            }

            .node-actions {
                opacity: 0;
                transition: opacity 0.2s;
            }

            .ant-tree-node-content-wrapper:hover {
                .node-actions {
                    opacity: 1;
                }
            }
        }
    }

    &-preview {
        :global {
            .umi-electron-wj-ant-card {
                height: 100%;
                display: flex;
                flex-direction: column;

                .umi-electron-wj-ant-card-body {
                    flex: 1;
                    overflow: auto;
                    padding: 12px;
                }
            }
        }

        .card-title-preview {
            font-size: 16px;
            font-weight: 500;
        }
    }

    &-editor {
        height: 100%;
        border: 1px solid #d9d9d9;
        border-radius: 2px;

        .monaco-editor {
            padding-top: 8px;
        }
    }
}

// .code-tree-container {
//     height: 100vh;
//     display: flex;
// }

.code-tree-panel {
    height: calc(100vh - 196.8px); // 196.8px为header等高度

    :global {
        .umi-electron-wj-ant-card {
            height: 100%;
            display: flex;
            flex-direction: column;

            .umi-electron-wj-ant-card-body {
                flex: 1;
                overflow: auto;
                padding: 12px;
            }
        }

        .umi-electron-wj-ant-tree {
            height: 100%;
            min-height: 0;
            overflow: auto;
        }
    }
}
