.wwLayout {
  display: flex;
  height: 100vh;
}
.wwLayout .leftLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 70px;
  background: #00a2ff;
}
.wwLayout .leftLayout li {
  margin: 25px 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
}
.wwLayout .leftLayout li span {
  font-size: 22px;
}
.wwLayout .leftLayout .activeMenu {
  color: red;
}
.wwLayout .rightLayout {
  height: calc(100% - 30px);
  overflow-y: auto;
  width: calc(100vw - 70px);
  margin: 30px 12px 12px;
}
.wwLayout .rightLayout h3 {
  margin-bottom: 10px;
}
